body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#color{
	background-color: yellow;
}

#place {
	background-color: yellow;
}

#ritual {
	background-color: yellow;
}


.buttons {
	width: 100px;
	height: 100px;
	position: relative;
	background-color: yellow   

	/* for some reason, the buttons were not turning up yellow no matter what in the class, so i used the id for each button for the colors */
}

